/* src/pages/home/components/HomeVideoSection.css */
.home-video-section {
  padding-bottom: 20px;
  overflow: hidden;
}

.home-video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .home-video {
    height: 300px;
  }
}
