.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: black;
  color: #777;
  padding: 40px 0 50px;
  white-space: nowrap;
}

.Footer .footer_policy {
  margin-bottom: 30px;
}

.Footer .Button {
  color: #777;
}

.Footer .footer_title {
  color: #aaa;
  font-weight: 500;
}

.Footer .footer_info {
  display: flex;
  gap: 10px;
}

.Footer > address {
  font-style: normal;
}

.Footer .footer_contact {
  display: flex;
  gap: 10px;
}

.footer_policy > *,
.footer_info > *,
.footer_contact > * {
  position: relative;
}
.footer_policy > *::after,
.footer_info > *::after,
.footer_contact > *::after {
  content: "|";
  margin: 0 8px;
  color: #555;
}
.footer_policy > *:last-child::after,
.footer_info > *:last-child::after,
.footer_contact > *:last-child::after {
  content: "";
}
