.Header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: black;
  flex-wrap: nowrap;
}

.Header .header_logo {
  display: flex;
  margin-right: 30px;
}

.Header img {
  width: 70px;
  display: block;
  height: auto;
}

.Header .header_title {
  color: white;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.Header .header_menu {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.Header .header_menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  white-space: nowrap;
}

.Header .header_menu a.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

.Header .header_button {
  display: flex;
  gap: 12px;
}

.Header .Button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  white-space: nowrap;
}

.Header .Button:hover {
  background-color: white;
  color: black;
}
