.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 35px;
  border-radius: 8px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 20px;

  background: none;
  border: none;

  font-size: 20px;
  cursor: pointer;
  color: #666;
}

.modal-close:hover {
  color: #000;
}
